<div class="row justify-content-between">
    <h2>Danh Sách Nhân Viên</h2>
    <div class="d-flex">
        <input class="form-control mr-3" type="text" style="width: 400px;" placeholder="Tìm Kiếm Theo Tên Nhân Viên">
        <button class="btn btn-outline-success mb-3">Search</button>
    </div>
</div>

<div class="row mt-3">
    <button class="btn-btn-success">Thêm Mới</button>
    <table class="table table-dark mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Họ và Tên</th>
            <th>Vị Trí</th>
            <th>Trình Độ</th>
            <th>Bộ Phận</th>
            <th>Ngày Sinh</th>
            <th>Số CMND</th>
            <th>Lương</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Địa Chỉ</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Bui Van Toan</td>
            <td>Nhan Vien</td>
            <td>Dai Hoc</td>
            <td>Kinh Doanh</td>
            <td>08/10/1989</td>
            <td>122345678</td>
            <td>8 trieu</td>
            <td>toan@gmial.com</td>
            <td>12424</td>
            <td>Hai Chau - Da Nang</td>
            <td class="d-flex">
                <button class="btn btn-sm btn-warning mr-1">Sửa</button>
                <button class="btn btn-sm btn-danger">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
