<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <style>

  </style>
<!-- </head>
<body>
   <div class="container-fluid" style="margin: 0 auto;"> -->
  <table class="table">
    <thead>
      <tr>
        <th>
          <div style="float: left;">
            <img src="../../assets/img/anhthe.jpg" width="100px" height="100px">
          <div class="d-flex justify-content-between ">
            <a style="color: blue;font-size: small;">Change</a>
            <a style="color: blue;font-size: small;">Delete</a>
          </div>
          </div>
        </th>
        <th>{{name}}</th>
        <th><a>Edit</a></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Personal Meeting ID</td>
        <td>
        {{personalId}}-<br>
        {{personalLink}}<br>
        Use this ID for Instant meetings
        </td>
        <td><a>Edit</a></td>
      </tr>
      <tr>
        <td>Sign-In Email</td>
        <td>{{mail}}@gmail.com<br>
        Linked accounts:</td>
        <td><a>Edit</a></td>
      </tr>
      <tr>
        <td>User Type</td>
        <td>Basic  <span>Upgrade</span></td>
        <td></td>
      </tr>
      <tr>
        <td>Capacity</td>
        <td>Meeting  <span>100</span></td>
        <td></td>
      </tr>
      <tr>
        <td>Languege</td>
        <td>{{language}}</td>
        <td><a>Edit</a></td>
      </tr>
      <tr>
        <td>Date and Time</td>

        <td>
          <div class="row">
            <div class="col-4">Time Zone</div>
            <div class="col-8">{{timeZone}}</div>
          </div>
          <div class="row">
            <div class="col-4">Date Format</div>
            <div class="col-8">{{dateFormat}}</div>
          </div>
          <div class="row">
            <div class="col-4">Time Format</div>
            <div class="col-8">Use 24-hour time</div>
          </div>
        </td>
        <td><a>Edit</a></td>
      </tr>
      <tr>
        <td>Sign-In Password</td>
        <td>{{Password}}</td>
        <td><a>Edit</a></td>
      </tr>
      <tr>
        <td>Signed-In Device</td>
        <td>Sign Me Out From All Devices</td>
        <td></td>
      </tr>
      <tr>
        <td>SamSung Phone Number</td>
        <td>{{phoneNumber}}</td>
        <td>Edit</td>
      </tr>
    </tbody>
  </table>
<!-- </div>
</body>
</html> -->
