<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/list">list sp</a>
<!--<a href="/customer-create">chi tiet sp</a>-->
<h1>Gio Hang</h1>
<table border="1">
    <tr>
        <th>ten</th>
        <th>gia</th>
        <th>SL</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${cart.getMap().keySet()}">
        <tr>
            <td th:text="${product.nameProduce}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${cart.getAmount(product)}"></td>
            <td><a th:href="@{/delete-product/__${product.id}__ }">delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>